<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HubCommon.NET" version="1.0.1" targetFramework="net452" />
  <package id="Hub-NuGet" version="1.1.1" targetFramework="net452" />
  <package id="integration-bdio.NET" version="1.0.0" targetFramework="net452" />
  <package id="IntegrationNugetInspector" version="2.4.0" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Mono.HttpUtility" version="1.0.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
</packages>